{{#if agregado}}
    <h4>Producto agregado con éxito</h4>
{{/if}}

<h4>Ingrese un producto nuevo</h4>
<form action="#" onsubmit="addProduct();return false">
    <input id="nombre" type="text" name="title" placeholder="nombre">
    <input id="precio" type="number" name="price" placeholder="precio">
    <input id="foto" type="text" name="thumbnail" placeholder="foto">
    <button id="agregar" type="submit" class="btn btn-primary">Agregar</button>
</form>