<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <title>Desafio 12</title>
</head>
<body class="m-5">
    <h1>Desafio 12: Websockets</h1>
    {{> formulario }}
    {{{ body }}}
    <div id="chatContainer">
        <h3>Ingrese su email para chatear</h3>
        <form>
            <input id="email" type="text" placeholder="correo@mail.com">
            <input id="emailSubmit" type="button" value="Ingresar" onclick="enviarEmail()">
        </form>
        <form>
            <input id="chatMsg" type="text" placeholder="Mensaje">
            <input id="chatSubmit" type="button" value="Enviar mensaje" onclick="enviarMensaje()">
        </form>
    </div>
    <script src="/index.js"></script>
</body>
</html>