{{#if agregado}}
<h4>Producto agregado con éxito</h4>
{{/if}}

<h5>Ingresar un producto nuevo</h5>
<form action="#" onsubmit="addProduct();return false">
    <input id="nombre" type="text" name="title" placeholder="Nombre">
    <input id="precio" type="number" name="price" placeholder="Precio">
    <input id="foto" type="text" name="thumbnail" placeholder="Foto">
    <button id="agregar" type="submit" class="btn btn-primary">Agregar</button>
</form>