{{#if agregado}}
    <h3>Producto agregado con éxito</h3>
{{/if}}

<h2>Ingrese un producto nuevo</h2>
<form method="POST" action="http://localhost:8080/">
    <input type="text" name="title" placeholder="nombre">
    <input type="number" name="price" placeholder="precio">
    <input type="text" name="thumbnail" placeholder="foto">
    <button type="submit" class="btn btn-primary">Agregar</button>
</form>
<a href="http://localhost:8080/productos">
    <button class="btn btn-primary">Ir a productos</button>
</a>